*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
header{
    background-color: black;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
span{
    color: white;
    font-size: 30px;
}
.navlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}
.navlink{
    text-decoration: none;
    color: white;
}

.section1 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 4rem;
}
.photo{
    border: groove ivory;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
.section2{
    background-color: black;
    margin-top: 3rem;
}
.section2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: white;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 2rem;
}
.lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
    margin: 1rem;
}
h1{
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
h2{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
h3{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
p{
    1rem
}
footer{
    background-color: black;
}
footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: white;
}
button{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
#name{
    padding: 0.25rem;
}
#email{
    padding: 0.25rem;
}